@import 'reset.css';

:root {
  --blue: #4571e5;
  --dark: rgb(60, 60, 60);
  --light: rgb(128, 128, 128);
}
body {
  font-family: sans-serif;
  background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
span {
  color: var(--dark);
}

p {
  line-height: 20px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  font-weight: normal;
}

body * {
  box-sizing: border-box;
}

button {
  background-color: var(--blue);
  padding: 5px 15px;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

.grid {
  display: grid;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  /* grid-gap: 5px 5px; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'messages messages news news map map'
    'messages messages news news map map'
    'messages messages notes notes chat chat'
    'messages messages notes notes chat chat'
    'chart chart chart chart chat chat';
}

.grid > div {
  /* border: 1px solid salmon; */
  padding: 7px 7px 7px 7px;
  height: inherit;
  display: flex;
  flex-direction: column;
  transition: background-color 0.15s ease-in;
  border-radius: 8px;
  background-color: #f6f6f6;
}
.grid > div.active {
  background-color: #4571e5;
}
.grid > div.active > h1 {
  color: white;
}

.grid > div > h1 {
  margin-bottom: 5px;
  transition: background-color 0.2s ease-in;
}

[class$='-inner'] {
  max-width: 100%;
  padding: 8px;
  flex: 1 1 100%;
  background-color: white;
  border-radius: 5px;
}

#chart {
  grid-area: chart;
}
#chat {
  grid-area: chat;
}
#notes {
  grid-area: notes;
}
#messages {
  grid-area: messages;
}
#news {
  grid-area: news;
}
#map {
  grid-area: map;
}

/* NOTES */

#notes li {
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 3px;
}

#notes li.done {
  background-color: var(--blue);
}

#notes li.done h3, #notes li.done p, #notes li.done span {
  color: white;
}

#notes li h3 {
  font-size: 15px;
  margin-bottom: 4px;
}

#notes li span,
#notes li p {
  font-size: 14px;
  font-style: italic;
  opacity: 0.8;
  color: var(--light);
}

.notes-inner {
  display: flex;
  flex-direction: column;
  /* padding: 8px; */
}
.notes-inner ul {
  flex-grow: 1;
  overflow: scroll;
  height: 1px;
  margin-bottom: 5px;
}

#notes .input-wrapper {
  display: flex;
}

#notes .input-wrapper input {
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
  flex-grow: 1;
}

/* NEWS */

#news .news-inner {
  display: flex;
}

#news li {
  margin-bottom: 3px;
  padding: 7px 5px;
  border-radius: 3px;
  position: relative;
}

#news li:last-of-type::after {
  display: none;
}

#news ul {
  overflow: scroll;
}

#news li p {
  display: inline;
}


#news .agency {
  width: 15px;
  height: 15px;
  font: 0/0 a;
  border: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  background: '✦'
}
